<div class="ticket">
  <!--  <div class="ticket__header" cdkDragHandle></div> moved to board as WA -->

  <form [formGroup]="ticketForm">
    <div class="ticket__name">
      <input type="text" pInputText class="ticket__input" formControlName="name"/>
      <p-confirmDialog [header]="strings.ticket.areYouSure" [message]="strings.ticket.remove"
                       [acceptLabel]="strings.ticket.remove" [rejectLabel]="strings.ticket.cancel"
                       icon="pi pi-exclamation-triangle"></p-confirmDialog>
      <p-button icon="pi pi-trash" type="text" (click)="confirmDelete()"></p-button>
    </div>
    <div class="ticket__dueDate">
      <span class="ticket__input-name">{{strings.ticket.dueDate}}</span>
      <p-calendar class="test" formControlName="dueDate"></p-calendar>
    </div>
    <div class="ticket__description">
      <textarea pInputTextarea class="ticket__input" [rows]="4" formControlName="description">
      </textarea>
    </div>
  </form>
</div>
