/frontend/build
/frontend/node
/frontend/node_modules
/backend/target
/backend/src/main/resources/main.css
/backend/src/main/resources/main.js
/db/localDb.db

!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


