/frontend/build
/frontend/node
/frontend/node_modules
/backend/target
/backend/src/main/resources/static/main.css
/backend/src/main/resources/static/main.js
/backend/src/main/resources/templates/index.html

!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


