<div class="board" cdkDropList cdkDropListOrientation="horizontal"
     [cdkDropListData]="columnTypes" (cdkDropListDropped)="onTrackDrop($event)">

  <div class="card-list mat-elevation-z1" *ngFor="let columnType of columnTypes">
    <h2 cdkDragHandle class="mat-h2">{{getColumnName(columnType)}}</h2>

    <div class="card-list-content" cdkDropList
         [id]="columnType" [cdkDropListData]="getTickets(columnType)" [cdkDropListConnectedTo]="columnTypes"
         (cdkDropListDropped)="onTicketDrop($event)"
    >
      <app-ticket cdkDrag *ngFor="let ticket of getTickets(columnType)" [ticket]="ticket"></app-ticket>
    </div>

  </div>

</div>
