<div class="login-page">

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="login-form">

      <div class="login-form__field">
        <span>Try 'alex@test.com' for demo</span>
      </div>
      <div class="login-form__field">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" [placeholder]="strings.login.email.required" pInputText
                 formControlName="email">
        </div>
        <p-message severity="error" [text]="strings.login.email.required" *ngIf="isShowEmailAlert()"></p-message>
      </div>

      <p-button label="Login" (click)="login($event)" [disabled]="!isLoginFormValid()"></p-button>

    </div>
  </form>

</div>
