.board {
  display: flex;
  justify-content: space-around;
  min-width: 840px;

  .ticket_placeholder {
    padding: 0 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .ticket__header {
    height: 30px;
    cursor: move;
    background-color: rgb(184, 164, 54);
    border-radius: 10px 10px 0px 0px;
  }
}

.board-column {
  width: 32%;
  min-width: 260px;
  margin: 0 1%;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__tickets {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px); //in case of no tickets
  }

  &__add-ticket {
    margin-left: 5px;
  }
}
